h1 {
    color: #2a1ced;
    border-bottom-style: solid;
}

h2 {
    color: #c6ee4d;
    border-bottom-style: solid;
    background-color: #3f7ae8;

}


h3 {
    color: rgb(63, 237, 167);
    background-color: #bd57d7;
}

a:link {
    color: #5770ec;
  }
  
  a:visited {
    color: #ff00e1;
  }
  
  a:hover {
    text-decoration: none;
  }